/* body element css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #ffffff;
    font-size: 20px;
    /* font-family: 'Fredoka', sans-serif; */
    font-family: The Sans, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* pseudo class css */

:root {
    --grey: #393b3f;
    --primary_grey: rgba(29,29,32,0.8);
    --original_grey: #505050;
    --light_white: #f4f5ff;
    --primary_white: #eaeaeb;
    --original_white: #ffffff;
    --primary_black: #1d1e20;
    --primary_yellow: #dbde0e;
}


.container_visit{
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/visit_bg_img_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Begin Visit Heading Section CSS  */

.visit_heading_section h1{
    font-size: 1.6rem;
    color: var(--primary_white);
    font-weight: 600;
    padding: 5rem 0rem;
}


/* visit content section CSS*/

.visit_main_content_section{
    /* background-color: var(--original_white); */
    margin-bottom: 6rem;
} 

/* First Content Section CSS */

.first_content_section{
    padding-top: 1.2rem;
    padding-bottom: 3.5rem;
    background-color: var(--original_white);
}

.first_content_section_heading{
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary_black);
    line-height: 1.5rem;
}

.first_content_section_text_1{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.first_content_section_text_1 a{
    color: var(--primary_black);
    text-decoration: underline;
}

.first_content_section_list{
    padding-left: 1rem;
}

.first_content_section_text_1 b{
    font-weight: 600;
}

.general_content_section_btn{
    font-size: 0.65rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: var(--primary_black);
    background-color: hsl(177, 91%, 44%);
    border-radius: 2px;
    padding: 15px 25px;
    transition: background-color 0.5s ease;
    border: 1px solid transparent;
}

.general_content_section_btn:hover{
    background-color: hsl(177, 91%, 39%);
}

/* Second Content Section CSS */

.second_content_section{
    padding-top: 1rem;
    background-color: var(--original_white);
}

.content_section_top{
    text-align: center;
}

.content_section_top span{
    color: #b7b8bd;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.content_section_top h3{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 1rem 0 2rem 0;
}

.second_section_map{
    text-align: center;
}

.second_section_map iframe{
    max-width: 100%;
    max-height: 15rem;
}

.second_section_text{
    padding: 1rem 0 3rem 0;
}

.second_content_section_text_1{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.second_content_section_text_1 a{
    color: var(--primary_black);
    text-decoration: underline;
}

.second_section_list{
    padding-left: 1rem;
}

.second_content_section_text_1 b{
    font-weight: 600;
}

/* Third Content Section */

.third_content_section{
    background-color: var(--original_white);
}

.third_section_text{
    padding-bottom: 3rem;
}

.general_text_1{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.general_text_1 b{
    font-weight: 600;
}

.general_text_1 a{
    color: var(--primary_black);
    text-decoration: underline;
}

/* Fourth Section CSS */

.fourth_content_section{
    padding-bottom: 3rem;
    background-color: var(--original_white);
}

.general_content_section_img{
    padding-left: 0;
    padding-right: 0;
}

.general_content_section_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fifth Section CSS */

.fifth_content_section{
    padding-bottom: 3rem;
    background-color: var(--original_white);
}

/* Sixth Section CSS */

.sixth_content_section{
    padding-bottom: 3rem;
    background-color: var(--original_white);
}

/* Seventh Section CSS */

.seventh_content_section{
    padding-bottom: 3rem;
    background-color: var(--original_white);
}

/* Eighth Section CSS */

.eighth_content_section{
    padding-bottom: 3rem;
    background-color: var(--original_white);
}







/*************** Responsive CSS ************/

@media only screen and (min-width: 500px){
    .second_section_map iframe{
        max-height: 17rem;
    }
}

@media only screen and (min-width: 768px){

    .visit_heading_section h1{
        font-size: 2.8rem;
        padding: 6rem 0rem;
    }

    .first_content_section{
        padding: 4rem 3.5rem 3.5rem 3.5rem;
    }
     
    .second_section_map iframe{
        max-height: 19rem;
    }

    .second_section_text{
        padding: 2rem 3.5rem 3.5rem 3.5rem;
    }

    .general_text_section{
        padding: 2rem 3.5rem 2rem 3.5rem;
    }
}


@media only screen and (min-width: 992px){
    
    .navbar_text:nth-child(2){
        border-bottom: 4px solid var(--primary_yellow);
    }

    .visit_heading_section h1{
        font-size: 2.8rem;
        padding: 15rem 0rem 1.5rem 0rem;
    }

    .second_section_map iframe{
        max-height: 20rem;
    }
}

@media only screen and (min-width: 1200px){
    
    .visit_heading_section{
        padding: 0 7%;
    }

    .visit_heading_section h1{
        font-size: 2.8rem;
        padding: 15rem 0rem 1.5rem 0rem;
    }

    /* .visit_main_content_section{
        margin: 0 3%;
    } */

    .second_section_map iframe{
        max-height: 21rem;
    }

    .third_content_img{
        position: relative;
        top: -4rem;
    }
}